<%- include('../partials/head.ejs') %>
<% if(game){%>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" crossorigin="anonymous"></script> -->
<%}%>
<body>
  <%- include('../partials/nav.ejs') %>
  
  <div id="center-title-div">
    <% if (!game){ %>
      <div class="solve-offset-container"></div>
        <h3 class='main-title' id="maze-title">MAZE TITLE</h3>
        <h3 class='main-title' id="timer">00:00:00</h3>
    <% } else { %>
      <div class="progress-outline">
        <div id="player-progress-bar" class="progress-bar"></div>
        <div class="progress-label">You (<span id="player-progress">0</span>%)</div>
      </div>
      <div class="progress-outline progress2">
        <div id="opponent-progress-bar" class="progress-bar"></div>
        <div class="progress-label">Opponent (<span id="opponent-progress">0</span>%)</div>
      </div>
        
        <!-- <h3 class='main-title' id="maze-title">Race 1 vs. 1: 5 - 20x20</h3> -->
      
    <% } %>
  </div>
  <div class="editor-settings-div">
    <div class="editor-settings-row">
      <div class="logo-menu-div row-section">
        <button type="button" class="toggle-menu btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <svg class='menu-button-icon' xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <div class="main-name">
          <img class='main-logo' src="/images/only-logo.png">
          <h1 class="main-title main-logo-title">MazeLabs</h1>
        </div>
      </div>
      <div class="finish-buttons row-section">
        <button type="button" class="myButton lightpurpleButton" id="editor-settings-button">Show Settings</button>
        <% if(!game){ %>
          <button type="button" class="myButton closeButton" id="solution-button">Show Solution</button>
          <button type="button" class="myButton pathButton hidden" id="results-button">Show Results</button>
          <button type="button" class="myButton limegreenButton hidden toggleRandomMaze" id="random-button">Random Maze</button>
        <% }else{ %>
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
          <!-- INSERT INDICATION OF SOLVED MAZES AND OPPONENT'S SOLVED MAZES -->
        <%}%>
      </div>
    </div>
    <div id='editor-settings' class='sub-row editor-settings-row hidden'>
      <h3 style="color:var(--mainText);">Coming Soon!</h3>
      </div>
    </div>
  </div>
  <% if(!game){ %>
    <div class="modal fade" id="solved-maze-modal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">You Solved <span class='maze-title' id="modal-results-maze-title">Maze Title</span>!</h2>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3 class="modal-text-main">Score: <span class="modal-results-number" id="results-score">0000</span></h3>
            <h4 class="modal-text">Time: <span class="modal-results-number" id="results-time">00:00:00</span></h4>
            <h5 class="modal-text">Solution Length: <span class="modal-results-number" id="results-path">0000</span></h5>
            <h5 class="modal-text hidden">Coins Collected: <span class="modal-results-number" id="results-coins">Coming soon!</span></h5>
          </div>
          <div class="modal-body">
            <h3 class="modal-text-main">Maze Stats:</h3>
            <h4 class="modal-text">Highest Score: <span class="modal-results-number maze-high-score">000</span></h4>
            <h4 class="modal-text">Highest Scorer: <span class="modal-results-number maze-highest-scorer">Matthew</span></h4>
            <h5 class="modal-text">Shortest Solution: <span class="modal-results-number maze-path-min">0000</span></h5>
            <h5 class="modal-text">Total Solves: <span class="modal-results-number maze-solves">00</span></h5>
            <h5 class="modal-text">Creator: <span class="modal-results-number maze-creator">Matthew</span></h5>
          </div>
          <div class="modal-body">
            <h3 class="modal-text-main">Score Calculation:</h3>
            <h6 class="modal-text">Scores start at 1000pts. Players lose 1 pt for each full second that passes unless the score has reached 20pts. The score is multiplied by 100%-percent difference between the shortest path and the user's solution (with a minimum of 20%). The number is then floored.</h6>
          </div>
          <div class="modal-footer">
            <div class="modal-footer-buttons">
              <button class="myButton closeButton" data-bs-dismiss="modal">Close</button>
              <button class="myButton darkblueButton toggleMazeList">Maze List</button>
              <button class="myButton limegreenButton toggleRandomMaze">Random Maze</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="failed-maze-modal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">You Failed <span class='maze-title' id="modal-failed-maze-title">Maze Title</span>!</h2>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3 class="modal-text-main">Maze Stats:</h3>
            <h4 class="modal-text">Highest Score: <span class="modal-results-number maze-high-score">000</span></h4>
            <h4 class="modal-text">Highest Scorer: <span class="modal-results-number maze-highest-scorer">Matthew</span></h4>
            <h5 class="modal-text">Shortest Solution: <span class="modal-results-number maze-path-min">0000</span></h5>
            <h5 class="modal-text">Total Solves: <span class="modal-results-number maze-solves">00</span></h5>
            <h5 class="modal-text">Creator: <span class="modal-results-number maze-creator">Matthew</span></h5>
          </div>
          <div class="modal-footer">
            <div class="modal-footer-buttons">
              <button class="myButton closeButton" data-bs-dismiss="modal">Close</button>
              <button class="myButton darkblueButton toggleMazeList">Maze List</button>
              <button class="myButton limegreenButton toggleRandomMaze">Random Maze</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <% if (game) { %>
    <div id="game-body">
      <img src="/images/bgMaze.png" id="background-image">
      <div class="login-card">
        <h2 class="profile-header" id="game-card-title">Waiting for Players...</h2>
        <p id="login-disclaimer">Share the link with your friends.</p>
        <button class="hidden myButton limegreenButton" id="ready-button">Ready</button>
        <div id="game-link-div">
          <h6 id="game-link">http://localhost:3000/play/<%=gameCode%></h6>
          <div class="copyIconDiv">
            <svg class="copyIcon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="main-grid-div" class="hidden"><table id="main-grid"></table></div>
  <% }else{ %>
    <div id="main-grid-div"><table id="main-grid"></table></div>
  <% } %>
  <script>
    let user = <%- JSON.stringify(user) %>;
    <% if(!game) { %>
      let mazeinfo = <%-JSON.stringify(mazeinfo)%>;
    <%}%>
  </script>
  <%- include('../partials/universal-scripts.ejs') %>
  <script src="/js/solve/solve-controls.js"></script>
  <% if(!game){%>
    <script src="/js/solve/solve-settings.js"></script>
    <script src="/js/solve/solve-functions.js"></script>
    <script src="/js/solve/solve.js"></script>
  <%}else{ %>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script>
      let mazeSolvedCount = 0;
let settings;
let mazes;


const socket = io.connect('ws://localhost:3000/');
console.log(window.location.href.slice(window.location.href.length-20)); //the default namespace

socket.emit("connectionEvent", { 
  userID: user.id,
  gameCode: getCode()
});

socket.on("connectionEvent",(data)=>{
console.log(data)
})

socket.on('sendGameInfo', (data) => {
  settings = data.settings
  mazes = data.mazes
})

socket.on('awaitReady', (data)=>{
  document.getElementById('game-card-title').innerHTML = "Game is Full"
  document.getElementById('login-disclaimer').innerHTML = "Click Ready to indicate that you are ready."
  document.getElementById('ready-button').classList.remove('hidden')
  document.getElementById('game-link-div').classList.add('hidden')

})

document.getElementById('ready-button').addEventListener("click", ()=>{
  socket.emit('readyPlayer', {
    userID: user.id,
    gameCode: getCode()
  })
  document.getElementById('ready-button').classList.add('hidden')
  document.getElementById('login-disclaimer').innerHTML = "Waiting for other players to ready..."
  maze.loadTable(mazes[0])
})

socket.on('gameFull', (data)=>{
  window.location.href = "/games/modes"
})

socket.on('playerJoined', (data)=>{
  document.getElementById('login-disclaimer').innerHTML = `${data.username} joined the game.`
})

socket.on('solveAnnounce', (data)=>{
  
  if(data.mazeSolved > mazeSolvedCount &&data.userID !== user.id){
    mazeSolvedCount = data.mazeSolved
    const val = Math.round(mazeSolvedCount/settings.count)
    document.getElementById('opponent-progress') = val
    document.getElementById('opponent-progress-bar').style.width = `${val}%`
  }
  
})

socket.on('gameStart', (data)=>{
  document.getElementById('game-body').classList.add('reveal')
  document.getElementById('main-grid-div').classList.remove('hidden')
  enableDrawControls()
})

socket.on('gameComplete', (data)=>{
  disableDrawControls()
  document.getElementById('game-body').classList.remove('reveal')
  document.getElementById('main-grid-div').classList.add('hidden')
  document.getElementById('game-card-title').innerHTML = "Game Over"
  document.getElementById('login-disclaimer').innerHTML = "Return back to the menu to select a new game"
  // INSERT LOGIC AND CARD TO SHOW RESULTS
})

function getCode(){
  return window.location.href.slice(window.location.href.length-8)
}
    </script>
    <!-- <script src="/js/game/game-solve-socket.js"></script> -->
    <script src="/js/game/game-solve-settings.js"></script>
    <script src="/js/game/game-solve-functions.js"></script>
    <script src="/js/game/game-solve.js"></script>
  <%}%>
</body>
<%- include('../partials/footer.ejs') %>