<%- include('../partials/head.ejs') %> 
<body>
  <div id="center-title-div">
    <h1 class='main-title'id="center-title">Select a Game Mode</h1>
  </div>
  <%- include('../partials/nav.ejs') %>
  <div class="editor-settings-div">
    <div class="editor-settings-row" id="es-row">
      <div class="logo-menu-div row-section 3-row">
        <button type="button" class="toggle-menu btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <svg class='menu-button-icon' xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <div class="main-name">
          <img class='main-logo' src="/images/only-logo.png">
          <h1 class="main-title main-logo-title">MazeLabs</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="gamemodes-sections">
    <div class='gamemodes-section'>
      <div class='gamemodes-row'>
        <h2 class='gamemodes-header'>Custom Game</h2>
      </div>
      <div class='gamemodes-row'>
        <p id="login-disclaimer">Choose your own settings.</p>
      </div>
      <div class='gamemodes-row'>
        <div class='gamemodes-col'>
          <div class="gamemodes-choice">
            <p class='mySliderLabel'>Mazes:</p>
            <input type="range" value="5" min="1" max="25" class="mySlider" id="custom-maze-count">
            <span id="custom-maze-count-label" class="mySliderValueLabel">5</span>
          </div>
          <div class="gamemodes-choice">
            <p class='mySliderLabel'>Rows:</p>
            <input type="range" value="20" min="10" max="50" class="mySlider" id="custom-row-count">
            <span id="custom-row-count-label" class="mySliderValueLabel">20</span>
          </div>
          <div class="gamemodes-choice">
            <p class='mySliderLabel'>Columns:</p>
            <input type="range" value="20" min="10" max="50" class="mySlider" id="custom-col-count">
            <span id="custom-col-count-label" class="mySliderValueLabel">20</span>
          </div>
          <div class="gamemodes-choice">
            <p class='mySliderLabel'>Players:</p>
            <input type="range" value="2" min="2" max="6" class="mySlider" id="custom-player-count">
            <span id="custom-player-count-label" class="mySliderValueLabel">2</span>
          </div>
        </div>
      </div>
      <div class='gamemodes-row'>
        <div class='center-div'>
          <button class="myButton limegreenButton" id='gamemodes-submit' onclick="callSubmit()">Start</button>
          <script>
             const gameCode = "<%=gameCode%>"
          </script>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/universal-scripts.ejs') %>
  <script src='/js/game-list/game-list-settings.js'></script>
</body>
<%- include('../partials/footer.ejs') %>