<%- include('../partials/head.ejs') %> 
<body>
  <div id="center-title-div">
    <h1 class='main-title'id="center-title">Select a Game Mode</h1>
  </div>
  <%- include('../partials/nav.ejs') %>
  <div class="editor-settings-div">
    <div class="editor-settings-row" id="es-row">
      <div class="logo-menu-div row-section 3-row">
        <button type="button" class="toggle-menu btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <svg class='menu-button-icon' xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <div class="main-name">
          <img class='main-logo' src="/images/only-logo.png">
          <h1 class="main-title main-logo-title">MazeLabs</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="gamemodes-sections">
    <div class='gamemodes-section'>
      <div class='gamemodes-row'>
        <h2 class='gamemodes-header'>1 vs. 1 Race</h2>
      </div>
      <div class='gamemodes-row'>
        <p class="gamemodes-desc">Players race against each other to solve 5 20x20 mazes. First player to finish wins!</p>
      </div>
      <div class='gamemodes-row'>
        <div class='center-div'>
          <button class="myButton limegreenButton" id='gamemodes-submit' onclick="window.location.href = `/games/play/<%=gameCode%>`">Start</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/universal-scripts.ejs') %>
</body>
<%- include('../partials/footer.ejs') %>